
/*noinspection CssUnknownTarget,CssUnknownTarget*/
@import "compass/reset";
@import "../mixin/home_active";
@import "../mixin/pointer_slider";
@import "../mixin/font_style";
@import "../mixin/variable";

//01 Global  Styles

// *== Style for header on new page
section {

    .name-header {
        text-align: center;

        h2 {
          display: inline-block;
          margin: 50px 0;
          @include font_style(26, bold);
          color: #484848;
          border-bottom: 2px solid $color;
        }
      }
}

// *== Style for word "UI" in logo-name and "To US" in section.talk-us
span.style-header {
    color: $color;
}

// *== Style for class wrapper, not section.talk-us
    section.about-us .wrapper,
    section.portfolio .wrapper,
    section.contact-us .wrapper {
      margin: 0 auto;
      width: 1200px;
      max-width: 1200px;
}

//02 Header menu
header {

    .wrapper {

      .content {
        display: flex;
        justify-content: space-around;
        padding: 35px 0;

        .logo-name {
          padding-top: 10px;
          @include font_style(22, bold,0);
        }

        .menu-list {
          text-transform: uppercase;

          ul {

            li {
              display: inline;
              margin-right: 30px;
              @include check_nav;

              a {
                position: relative;

                &:hover {
                  border-bottom: 2px solid $color;

                  &:after {
                    position: absolute;
                    top: 8px;
                    right: 40%;
                    font-family: 'FontAwesome';
                    content: "\f0dd";
                    color: $color;
                  }
                }
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
}

//03 Slider menu section
section.slider {
    position: relative;

    .wrapper {

      .content {

        @include set_pointer();

        img {
          display: block;
          width: 100%;
        }

        .slide-name {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          transform: translate(-50%, -50%);

          div {

            span {
              padding: 10px 80px;
              background-color: rgba(0, 0, 0, 0.5);
              @include font_style(26, bold, 1.5em, 'Ubuntu Light');
              color: white;
              text-transform: capitalize;
            }

            &:first-child {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
}

//04 Description section
section.description {

    .wrapper {
      background-color: $color;

      .content {
        padding: 37px 20px;

        h2 {
          @include font_style(21);
          color: white;
          text-align: center;

           > span {
            text-transform: uppercase;
            font-weight: bold;
            border-bottom: 0.1px solid white;
          }
        }
      }
    }
}

//05 About-us section (services)
section.about-us {
    overflow: hidden;
    .wrapper {

      .content {

        p.descr {
          margin-bottom: 50px;
          @include font_style(16,normal,2em);
          color: #a3a2a2;
          text-align: center;
        }

        ul {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;

          li {
            width: 220px;

            span {
              display: block;
              @include font_style(20);
              text-align: center;

              &.fa {
                margin-bottom: 10px;
                font-family: 'FontAwesome';
                color: $color;
                font-size: 30px;
              }
            }

            p {
              margin-top: 10px;
              color: #a3a2a2;
              font-size: 13px;
              text-align: left;
              line-height: 1.5em;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
}

//06 Portfolio section (list projects)
section.portfolio {
    margin-top: 50px;

    .wrapper {

      .content {

        h2 {
          margin: 0 0 50px 0;
        }

        span.descr {
          display: inline-block;
          margin-bottom: 21px;
          width: 700px;
          @include font_style(16);
          color: #a3a2a2;
        }

        ul.list-project {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;

          li {

            img {

              box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
              opacity: 2;
            }

            .block-info {
              margin-top: -3px;
              border: 1px solid #d5d3d3;

              .name-project {
                position: relative;
                width: 90%;
                padding-right: 15px;
                margin-bottom: 10px;
                padding-top: 10px;
                float: right;
                font: bolder 16px 'Liberation Sans', sans-serif;
                text-align: right;
                color: $color;
                border-bottom: 1px solid #d5d3d3;
              }

              p {
                margin-top: 10px;
                padding-bottom: 8px;
                padding-right: 10px;
                font-size: 14px;
                text-align: right;
                color: #605f5f;

              }
            }
          }
        }

        ul.description-project {

          li {
            margin-top: -2px;
            margin-right: 56px;
            margin-bottom: 50px;
            padding: 0 7px 3px;
            background-color: #eee;

            &:last-child {
              margin-right: 0;
            }

            a {

              span.name-project {
                display: block;
                position: relative;
                padding: 10px 10px 5px 0;
                @include font_style(16,bolder);
                text-align: right;
                color: $color;
                border-bottom: 1px solid #d5d3d3;

                &:before {
                  position: absolute;
                  bottom: 34px;
                  left: -8px;
                  background-color: $color;
                  opacity: 0.8;
                  height: 105px;
                  width: 250px;
                  font-family: "FontAwesome";
                  content: "\f0c1";
                  font-size: 50px;
                  color: white;
                  text-align: center;
                  padding-top: 60px;
                }
              }
            }

            p {
              margin-top: 10px;
              padding-bottom: 5px;
              padding-right: 10px;
              font-size: 14px;
              text-align: right;
              color: #605f5f;
            }
          }
        }
      }
    }
}

//07 Talk to us section
section.talk-us {
    margin-top: 50px;

    .wrapper {

      .content {
        padding: 50px;
        background-color: #7a7a7a;
        clear: both;
        text-align: center;

        h2 {
          margin-top: 20px;
          margin-bottom: 30px;
          @include font_style(72);
          font: 72px 'Liberation Sans', sans-serif;
          text-transform: capitalize;
          color: #fff;
        }

        p {
          display: inline-block;
          margin-bottom: 50px;
          font-size: 18px;
          width: 850px;
          color: white;
          line-height: 1.5em;
        }
      }
    }
}

//08 Contact section
section.contact-us {
    margin-top: 70px;
    overflow: hidden;

    .wrapper {

      .content {
        text-align: center;

        .address-information {

          p.descr {
            display: inline-block;
            margin-bottom: 50px;
            @include font_style(16,500,1.5em);
            color: #a3a2a2;
          }
        }

        .map {
          display: inline-block;
        }

        .contact {
          float: right;

          .contacts-responsive {
            display: none;
          }

          form {

            h3 {
              margin-left: 40px;
              text-align: left;
              @include font_style(20,bold);
              margin-bottom: 15px;
            }

            .list-contacts {
              margin-left: 90px;

              li {
                width: 100%;
                text-align: left;
                margin: 0 0 20px 0;
                span:first-child {
                  margin-right: 20px;
                  color: $color;
                }
                span:last-child {
                  color: #a3a2a2;
                }
                &:last-child {
                  overflow: hidden;
                  span:first-child {
                    float: left;
                    margin-right: 30px;
                  }
                  span:last-child {
                    float: left;
                    width: 200px;
                  }
                }
              }
            }

            ul.contact-info {
              margin-left: 90px;

              li {

                &:first-child, &:nth-child(2), &:last-child  {
                  margin-bottom: 6px;
                }

                div.list-address {
                  text-align: left;
                  width: 289px;

                  span{
                    display: inline;
                    color: #9d9c9c;

                    .fa {
                      margin-right: 20px;
                      font-size: 20px;
                      color: #f27554;
                    }
                  }
                }

                input[type="text"], input[type="email"], textarea {
                  display: inherit;
                  padding: 15px;
                  width: 300px;
                  border: 1px solid #cac6c6;
                  font-size: 14px;
                  background-color: #f0f0f0;
                }

                textarea {
                  width: 450px;
                  height: 150px;
                  resize: none;
                }
              }
            }

            input[type="submit"] {
              float: left;
              margin-left: 90px;
              margin-top: 5px;
              padding: 10px 30px;
              background-color: #f27554;
              border: none;
              border-radius: 5px;
              font-size: 18px;
              color: white;
              &:active {
                color: $color;
                background-color: inherit;
              }
            }
          }
        }
      }
    }
}

//09 Footer section
footer {
    position: relative;
    bottom: -200px;
    margin-top: 70px;

    .wrapper {

      .content {
        position: relative;
        bottom: 90px;
        clear: both;
        background-color: #f27554;

        h4 {
          position: relative;
          padding: 30px 0;
          text-align: center;
          color: #fff;
        }
      }
    }
}


@media screen and (min-width: 760px) and (max-width: 1024px){

    section.slider {

       .wrapper {

         .content {
           @include set_pointer(40);

           .slide-name {

             div {

               span {
                 @include font_style(15, bold, 1.5em, 'Ubuntu Light');
               }
             }
           }

         }
       }
    }

    section.about-us {
      .wrapper {
        width: 80%;
        margin: 0 auto;
      }
    }

    section.portfolio {
      .wrapper {
        width: 80%;
        margin: 0 auto;
      }
    }

}


