/*noinspection CssUnknownTarget,CssUnknownTarget*/
/* line 5, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/test.scss */
header .wrapper .content {
  padding: 35px 0;
}
/* line 15, ../sass/test.scss */
header .wrapper .content .logo-name {
  float: left;
  padding-top: 10px;
  font: bold 22px/0 "Liberation Sans", sans-serif;
}
/* line 21, ../sass/test.scss */
header .wrapper .content .menu-list {
  text-transform: uppercase;
  float: right;
}
/* line 27, ../sass/test.scss */
header .wrapper .content .menu-list ul li {
  display: inline;
  margin-right: 30px;
}
/* line 5, ../mixin/home_active.scss */
header .wrapper .content .menu-list ul li:first-child a {
  border-bottom: 2px solid #f36b47;
}
/* line 8, ../mixin/home_active.scss */
header .wrapper .content .menu-list ul li:first-child a:after {
  position: absolute;
  top: 8px;
  right: 40%;
  font-family: 'FontAwesome';
  content: "\f0dd";
  color: #f36b47;
}
/* line 32, ../sass/test.scss */
header .wrapper .content .menu-list ul li a {
  position: relative;
}
/* line 35, ../sass/test.scss */
header .wrapper .content .menu-list ul li a:hover {
  border-bottom: 2px solid #f36b47;
}
/* line 38, ../sass/test.scss */
header .wrapper .content .menu-list ul li a:hover:after {
  position: absolute;
  top: 8px;
  right: 40%;
  font-family: 'FontAwesome';
  content: "\f0dd";
  color: #f36b47;
}
/* line 49, ../sass/test.scss */
header .wrapper .content .menu-list ul li:last-child {
  margin-right: 0;
}
